
.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-radius: 0;
}

.list-view .list-cell:even {
    -fx-background-color: darkblue;
    -fx-text-fill: lightblue;
    -fx-background-radius: 0;
}
.list-view .list-cell:odd {
    -fx-background-color: darkblue;
    -fx-text-fill: lightblue;
    -fx-background-radius: 0;
}